@import "./mixins.scss";

#education-experience {
  .education-container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .education-block {
      @include block-styling;

      .education-data {
        @include data-list-spacing;
      }

      .block-buttons {
        @include block-edit-delete-buttons;
      }
    }

    .education-form {
      @include form-styling;

      .form-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
      }

      input {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    button {
    }
  }
}
