#education-experience {
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
    }
  }

  .education-container {
    .education-block {
      display: flex;

      .education-data {
        flex: 1;
      }

      .view-education-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }

    button {
    }
  }
}
