@import "./mixins.scss";

#personal-info {
  .info-container {
    @include block-styling;

    .info-data {
      @include data-list-spacing;
    }

    .info-buttons {
      flex: 0.25;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
